# May contain sensitive data
config_prod.py
generated.py
custom.ini
conf

.idea
.tox
.DS_Store
.coverage
.vagrant
.webassets-cache
.dox
.travis-solo
.cache

build
whoosh*
yaka.db
tmp
cache
dist
tests/cache
tests/tmp
tests/extra_files
sandbox
results
htmlcov
experimental
junit-py27.xml

*.log
*.log.?
celerybeat-schedule
etc/local_prod.ini
migration-data/
references/

misc2
placeholders

*.pyc
*.egg-info
*.egg
*.swp
*.prof
*.stats
*.mo
etc/db_version
etc/db_version.old

# Demo
demo/.Python
demo/bin/
demo/include/
demo/lib/
demo/man/
demo/src/
demo/var/
demo/local/

/tests.functional.test/
/.eggs/
/coverage.xml
/instance/
