language: python
python:
  - "2.7"

env:
  - SQLALCHEMY_DATABASE_URI="sqlite://"
  - SQLALCHEMY_DATABASE_URI="postgres://postgres@localhost/abilian_sbe"

services:
  - redis-server

addons:
  postgresql: "9.3"


# Install OS dependencies
before_install:
 - sudo rm -rf /dev/shm && sudo ln -s /run/shm /dev/shm
 - sudo apt-add-repository -y ppa:chris-lea/node.js
 - sudo apt-get update
 - sudo apt-get install -y poppler-utils nodejs
 - sudo npm install -g less

# Install Python dependencies
install:
  - pip install -U 'pip>=7'
  - pip install -e '.[dev]'
  - pip install -r etc/git-requirements.txt
  - pip --version
  - pip list

# Create DB
before_script:
  - createdb -w -U postgres -E utf-8 abilian_sbe

# Run tests
script:
  - py.test --tb=short -q --cov abilian abilian tests
  # There are no docs yet!
  #- sphinx-build -W -b html docs/ docs/_build/

# Report coverage
after_success:
  - coveralls
