[tool.poetry]
name = "abilian-sbe"
version = "0.4.25"
description = "Social Business platform, including: document management, wiki, forum, enterprise social networking, and more"
authors = ["Abilian SAS"]
license = "LGPL"
readme = "README.rst"
repository = "https://github.com/abilian/abilian-sbe"
packages = [{ include = "abilian" }]


[tool.poetry.dependencies]
python = "~2.7 || ^3.6"

# Abilian Core
abilian-core = ">=0.10"

# Temp
wtforms = "<2.2"

# Email validation (when sending digests)
validate_email = "*"

# Language and charset detection
langid = ">=1.1"
chardet = "*"

# Markdown support for Wiki
markdown = "^3"

# needed by folder: export to xls
xlwt = "*"
openpyxl = "^2.3.0"

# Better FP library than itertools IMHO.
toolz = "*"

# Needed for Python 2.7 only
singledispatch = "*"

[tool.poetry.dev-dependencies]
# Our favorite test runner with some plugins and CI builder
pytest = "*"
pytest-sugar = "*"
pytest-xdist = "*"

# currently KO
# pytest-randomly

# Backport of Python 3 mocking library
mock = ">=1.0.1"

# Coverage
coverage = ">=4.1"
pytest-cov = "*"

# Python clone of Foreman, useful to test Heroku config locally
honcho = "*"

# Higher level API to Selenium than WebDriver,
# see http://splinter.cobrateam.info/en/latest/index.html
# Fails on travis + phantomjs issues...
#splinter>=0.7.0
#pytest-splinter

# Documentation generator
Sphinx = "*"

# Lint .rst files
restructuredtext-lint = "*"

# Standard theme for readthedocs.com
sphinx-rtd-theme = "*"

# Used to check links in the application
Flask-LinkTester = "*"

# Static code analysis
flake8 = "*"
flake8-comprehensions = "*"
flake8-mutable = "*"
flake8-pytest = "*"
flake8-super-call = "*"
flake8-tidy-imports = "*"
flake8-mypy = { version = "*", python = "^3.6" }
flake8-bugbear = { version = "*", python = "^3.6" }
mastool = "*"
mccabe = "*"
pylint = "*"
pre-commit = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
