# Abilian Core
abilian-core>=0.6.10.2

# Email validation (when sending digests)
validate_email

# Language and charset detection
langid>=1.1,<1.2
chardet

# needed by folder: export to xls
xlwt
openpyxl>=2.3.0

# mypy (experimental)
typing
