# Abilian Core
abilian-core

# Buggy w/ Flask-Babel 0.10
Flask-Babel<0.10

# Email validation (when sending digests)
validate_email

# Language and charset detection
langid>=1.1,<1.2
chardet

# needed by folder: export to xls
xlwt
openpyxl>=2.3.0
