# Abilian Core
-e git+https://github.com/abilian/abilian-core.git@master#egg=Abilian-Core

# Used for language detection.
guess-language-spirit==0.5a5

# Email validator, will probably move to abilian-core later.
validate_email>=1.2,<2.0

