{% extends "forum/_base.html" %}

{%- from "macros/user.html" import m_user_link, m_user_photo %}
{% from "macros/box.html" import m_box_menu, m_box_content %}

{% block forumcontent %}
  {% call m_box_content(_("Recent conversations")) %}

   
    <div class="forum_menu" role="group">
      {%- set global_actions = actions.for_category('forum:global') %}
      {%- for action in global_actions %}
           {{forum_menu(action)}}
      {%- endfor %}
    </div>
  

    {% if threads %}

 
      <table class="thread_table" border="0">
    <tr>
    <th colspan="2" style="">Topic</th>
    <th>Users</th>
    <th><center>Replies</center></th>
    <th><center>Views</center></th>
    <th><center>Activity</center></th>
  </tr>
        {% for thread in threads %}
          {{ m_thread(thread) }}
        {% endfor %}
      </table>
      <br><br>

    {% else %}
      <p>{{ _("No message has been posted to this community yet.") }}</p>
    {% endif %}

    {% if has_more or True %}
      <hr>
      <p><a href="{{ url_for('.archives', community_id=g.community.slug) }}">{{ _("All conversations") }}</a></p>
    {% endif %}
  {% endcall %}
{% endblock %}

{% macro m_thread(thread) %}
  {%- set thread_href = url_for(thread) %}
  {%- set thread_length = thread.posts|length %}

  <tr>
  <td style="width:4%;">
    {% call m_user_link(thread.creator) %}
      {{ m_user_photo(thread.creator, size=40) }}
    {%- endcall %}
</td>
<td style="width: 31%;">
    <div class="entry" style="position: relative;
top: 2px;">
      <h4><a href="{{ thread_href }}" title="{{ thread.created_at | age(date_threshold='day') }}" style="
      text-decoration: none;color: #858585;"> {{ thread.title }}</a></h4>  
        {%- if thread.closed %} <i class="fa fa-lock fa-big"></i>{%- endif %}
    
    </div>

  </td>
  <td style="position: relative;
left: -9px;">
  {%for p in thread.get_frequent_posters(5) %}
   {% call m_user_link(p) %}
      {{ m_user_photo(p, size=30) }}
    {%- endcall %}
   {%endfor%}

</td>
<td>
     <center> <div class="comments" style="position: relative;
">
        <a class="replies" href="{{ thread_href }}">
          {{ thread_length-1 }}</a>{% if thread.get_viewed_posts !=0 %} <span style="color:gray;"></span> <span class="hilight-view" title="not viewed"> (+{{thread.get_viewed_posts }})</span>{% endif %}</center></td>

        <td><center><span class="viewed_times"> {{thread.viewed_times}}</span></p></center></td>

          <td><center>
        {%- if thread_length > 1 %}
          {% set last_post_creator = thread.posts[-1].creator %}
          <span class="hidden-xs" style="">
         <span class="divider" style="color:silver;">{{thread.posts[-1].created_at | age(date_threshold='day') }}
        </span>
        {%- endif %}
      </div>
    </div></span></td>
  </tr>
{% endmacro %}

{% macro forum_menu(action) %}
  <button type="button" style="border: none;padding: 10px;" {% if action.is_current()%}class="forum_btn_active"{%endif%}>{{ action.render() }}</button>
    {% endmacro %}
