.community-header {
  margin: 0;
}

.community-tabs {
  margin-top: 1em;
  margin-bottom: 1em;
}

body {
background-color : white;
}

.container {
width: none ;
}

.navbar-default {
background-color: white;
border-color: yellowgreen;
}

element.style {
position: relative;
vertical-align: top;
background-color: transparent;
border: 1px solid ghostwhite;
}

.community-header {
margin: 0;
position: relative;
left: 0px;
font-size: 15pt;
color: silver;
margin-bottom: 19px;
top: -3px;
}

.panel-info > .panel-heading {
border: none;
position: relative;
top: -16px;
color: white;
background-color: darkslategray;
padding-bottom: 17px;
border-radius: 3px 3px 0px 0px;

}

.panel-info {
border-color : white !important;
}

.navbar-default {
background-color: white;
border-color: ghostwhite;
box-shadow: 0 4px 9px -8px gray;
}

ul.threads {
margin-top: -21px !important;
}

.panel-title {
font-size: 1.1em;
position: relative;
top: 5px;
}

.panel-success > .panel-heading {
color: #3c763d;
background-color: #dff0d8;
padding-bottom: 17px;
border-radius: 2px;
}

.panel-success {
border-color: ghostwhite;
}

.forum-menu-container{
background: ghostwhite;
position: relative;
top: -31px;
left: -15px;
width: 102.7%;
padding-bottom: 15px;
border-radius: 0px 0px 3px 3px;
}

// The forum's menu
.forum_menu{
position: relative;
right: -606px;
top: 5.5px;
margin-bottom: -3px;

>button{
	background : white;
	border-radius: 3px;
}

>button:first-child{
background-color: yellowgreen;
border-radius: 3px;

>a{
	color: white;
}

>a:first-child{
	color:white;
	font-weight : bold;
}

}

>a:hover{
 color : gray; 
}

 >button >a{
  text-decoration : none;
  color:silver;
  }

  >button >a:hover{
  color : gray;
  }
}

// the table of threads
.thread-table{

 >tbody >tr{
  border-bottom: 1px solid #e9e9e9;
  }

  >tbody>tr:first-child{
  color: #919191;
  border-bottom: 4px solid ghostwhite;
  }

  >tbody >tr >td{
  padding: 7px;
  }

  >tbody >tr >td >center >a {
  text-decoration : none ;
  }

  >tbody >tr >th{
  font-weight : normal;
  
  padding-bottom: 12px;
  }

  >tbody >tr:last-child{
  border-bottom: 1px solid white;
  }
}

// forum menu active button
.forum-btn-active{
  >a{
  color:dimgray !important;
  }
}

//Thread replies
.replies{
	text-decoration: none;
	color:gray;
	font-weight: bold;
	position: relative;
    top: 1px;
}

//Thread viewed times
.viewed-times{
	position: relative;
    color:gray;
    top:5px;
}

.nav-tabs {
border-bottom: 0px !important;
}

//forum number of conversations
.nb-conversation{
color: silver;
font-size: 12pt;
}


