// Forum home page (thread list)
ul.threads {
  padding-bottom: 6px;
  margin: 0;

  .list-unstyled();

  li {
    padding: 3px 0;
    margin: 15px auto;
    font-size: 12px;

    @avatar-size: 45px;
    @avatar-full-height: 50px;

    .entry {
      position: relative;
      top: 7px;
      min-height: @avatar-full-height;
      display: block;
      padding: 5px 5px @line-height-computed;
      margin-left: 52px;
      text-align: left;
      box-shadow: 0 6px 6px -8px silver;
      .border-right-radius(@border-radius-small);

      > h4 {
        margin-top: 0;
        > a {
          color: cadetblue;
        }
      }

      .details {
        left: 4px;
        top: 23.5px;
        .datetime {
          position: relative;
          top: 1px;
          color: @gray;
        }
      }

      .comments {
        top: 10.6%;
        text-align: right;

        > p {
          float: left;
          .hilight-view {
            position: relative;
            color: coral;
            top: 1px;
            font-weight: bold;
          }
        }

        > p > a {
          position: relative;
        }

        .divider {
          position: relative;
          top: 1px;
        }
      }

      @media (min-width: @screen-sm-min) {
        /* on screens large enough, put author and comments at bottom of .entry */
        .details {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 5px;
        }

        .comments {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 5px;
        }
      }
    }

    .avatar {
      float: left;
      position: relative;
      top: 9px;
      > img {
        .square(@avatar-size);
        margin-top: (@avatar-full-height - @avatar-size);
        margin-right: 10px;
        background-color: white;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
      }
    }
  }

  /* archives */
  &-archives {
    margin: 0;

    li {
      list-style: none;
      padding: 2px 10px;
    }

    .comments {
      color: grey;
    }
  }
}

// A single thread view
.thread {

  .posts {
    .list-unstyled();
    > li {
      margin-bottom: -11px;
    }
  }
}

.post {
  margin-bottom: 1em;

  .date {
    .small();
    color: grey;
  }

  .media-body {
    border-left: 2px solid yellowgreen;
    background: ghostwhite;
    padding-top: 0.5em;
    padding-left: 0.5em;
    border-radius: 2px 4px 4px 0;
    text-align: justify;
    padding-right: 9px;
    box-shadow: 0 4px 2px -4px silver;

    .attachments img {
      vertical-align: middle;
    }
  }

  .media-post-tail {
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: ghostwhite transparent transparent ghostwhite;
    top: 0;
    left: 63px;
    z-index: 1;
  }

  blockquote {
    font-size: inherit;
  }

  .history {
    font-size: 90%;
    font-style: italic;
    color: @gray-light;
    text-align: right;

    .reason {
      display: block;
      text-align: right;
      max-width: 50%;
      margin-left: auto;
      color: @gray-dark;
    }
  }
}

// hilight not viewed number
.thread-hilightview {
  position: relative;
  top: -0.5px;
  color: lightcoral;
  font-weight: bold;
}

.thread-title {
  text-decoration: none;
  color: #858585;
}

.thread-list-title {
  text-align: justify;
  margin-right: 23px;
  line-height: 21px;
  font-size: 12pt;
}

.thread-title:hover {
  text-decoration: none;
  color: #858585;
}

//thread frequent posters
.thread-frequent-posters {
  position: relative;
  left: -9px;
}

//first column in thread table
.thread-user {
  width: 4%;
  position: relative;
  left: -6px;
}

element.style {
  position: relative;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid ghostwhite;
}

.community-header {
  margin: 0;
  margin-bottom: 19px;
  position: relative;
  left: 0;
  font-size: 15pt;
  color: silver;
  top: -3px;
}

.navbar-default {
  background-color: white;
  border-color: ghostwhite;
  box-shadow: 0 4px 9px -8px gray;
}

.panel-success {
  border-color: ghostwhite;
}

.forum-menu-container {
  background: ghostwhite;
  position: relative;
  padding-right: 5px;
  top: -15px;
  width: auto;
  padding-bottom: 52px;
  border-radius: 0 0 3px 3px;
  margin-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

// The forum's menu
.forum-menu, .forum-menu-admin {
  position: relative;
  float: right;
  right: 1px;
  top: 5.5px;
  margin-bottom: -3px;

  > button {
    background: white;
    border-radius: 3px;
  }

  > button:first-child {
    background-color: yellowgreen;
    border-radius: 3px;

    > a {
      color: white;
    }

    > a:first-child {
      color: white;
      font-weight: bold;
    }

  }

  > a:hover {
    color: gray;
  }

  > button > a {
    text-decoration: none;
    color: silver;
  }

  > button > a:hover {
    color: gray;
  }
}

.forum-menu-admin {
  right: -488px;
}

.thread-viewers {
  position: relative;
  color: gray;
}

// the table of threads
.thread-table {

  > tbody > tr {
    border-bottom: 1px solid #e9e9e9;

    > th:nth-child(n+3) {
      text-align: center;
    }
  }

  > tbody > tr:first-child {
    color: #919191;
    border-bottom: 4px solid ghostwhite;
  }

  > tbody > tr > td {
    padding: 7px;
  }

  > tbody > tr > td > center > a {
    text-decoration: none;
  }

  > tbody > tr > th {
    font-weight: normal;

    padding-bottom: 12px;
  }

  > tbody > tr:last-child {
    border-bottom: 1px solid white;
  }
}

// forum menu active button
.forum-btn-active {
  > a {
    color: dimgray !important;
  }
}

.forum-divider {
  border-bottom: 1px dashed #eeeeee;
  position: relative;
  top: 17px;
  margin-bottom: 32px;
}

.forum-thread-divider {
  margin-top: 5px;
  border: 1px dashed ghostwhite;
}

.forum-action {
  border: none;
  padding: 10px;
}

.forum-action-active {
  border: none;
  padding: 10px;
  border-bottom: 2px solid gray;
}

//Thread replies
.thread-replies {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  position: relative;
}

//Thread viewed times
.thread-viewed-times {
  position: relative;
  color: gray;
}

.thread-unread-posts {
  background: yellowgreen;
  font-size: 13px;
}

.panel-info {
  border-color: ghostwhite;
}

//forum number of conversations
.forum-nb-conversation {
  color: silver;
  font-size: 12pt;
}

.manager-thread-viewers {
  background: linear-gradient(to right, white, ghostwhite);
  border-radius: 2px;
  color: gray;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  position: relative;
  top: 4px;
  left: -7px;
  width: 101%;
}

.thread-all {
  position: relative;
  left: 8px;

  > a {
    position: relative;
    left: 4px;
    color: gray;
  }
}

.thread-current-title {
  color: gray;
  font-family: sans-serif;
  font-size: 22pt;
  padding-bottom: 8px;
  border-bottom: 3px solid ghostwhite;
}

.thread-current-replies {
  font-size: 14pt;
  font-weight: normal;
  position: relative;
  top: -3.1px;
}

.viewed {
  color: gray;
  position: relative;
  left: 2.5px;
}

.panel-body-pos {
  position: relative;
  top: -20px;
}

.members-download-btn {
  float: right;
  position: relative;
  top: 39px;
}

.members-title {
  position: relative;
  font-weight: normal;
  color: silver;
  font-family: sans-serif;
  top: 7px;
  margin-bottom: 21px;
}

.members-last-activity {
  position: relative;
  top: 7.5px;
}
