// Forum home page (thread list)
ul.threads {
  padding-bottom: 6px;
  margin: 0;

  .list-unstyled();

  li {
    padding: 3px 0;
    margin: 15px auto;
    font-size: 12px;

    @avatar-size: 45px;
    @avatar-full-height: 50px;

    .entry {
      position: relative;
      top: 7px;
      min-height: @avatar-full-height;
      display: block;
      padding: 5px 5px @line-height-computed;
      margin-left: 52px;
      text-align: left;
      box-shadow: 0 6px 6px -8px silver;
      .border-right-radius(@border-radius-small);

      > h4 {
        margin-top: 0;
        > a {
          color: cadetblue;
        }
      }

      .details {
        left: 4px;
        top: 23.5px;
        .datetime {
          position: relative;
          top: 1px;
          color: @gray;
        }
      }

      .comments {
        top: 10.6%;
        text-align: right;

        > p {
          float: left;
          .hilight-view {
            position: relative;
            color: coral;
            top: 1px;
            font-weight: bold;
          }
        }

        > p > a {
          position: relative;
        }

        .divider {
          position: relative;
          top: 1px;
        }
      }

      @media (min-width: @screen-sm-min) {
        /* on screens large enough, put author and comments at bottom of .entry */
        .details {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 5px;
        }

        .comments {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 5px;
        }
      }
    }

    .avatar {
      float: left;
      position: relative;
      top: 9px;
      > img {
        .square(@avatar-size);
        margin-top: (@avatar-full-height - @avatar-size);
        margin-right: 10px;
        background-color: white;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
      }
    }
  }

  /* archives */
  &-archives {
    margin: 0;

    li {
      list-style: none;
      padding: 2px 10px;
    }

    .comments {
      color: grey;
    }
  }
}

// A single thread view
.thread {

  .posts {
    .list-unstyled();
  }
}

.post {
  margin-bottom: 1em;

  .date {
    .small();
    color: grey;
  }

  .media-body {
    border-left: 2px solid #FF7F66;
    padding-top: 0.5em;
    padding-left: 0.5em;

    .attachments img {
      vertical-align: middle;
    }
  }

  blockquote {
    font-size: inherit;
  }

  .history {
    font-size: 90%;
    font-style: italic;
    color: @gray-light;
    text-align: right;

    .reason {
      display: block;
      text-align: right;
      max-width: 50%;
      margin-left: auto;
      color: @gray-dark;
    }
  }
}

// hilight not viewed number
.thread-hilightview {
  position: relative;
  top: 1px;
  color: lightcoral;
  font-weight: bold;
}

.thread-title {
  text-decoration: none;
  color: #858585;
}

.thread-title:hover {
  text-decoration: none;
  color: #858585;
}

//thread frequent posters
.thread-frequent-posters {
  position: relative;
  left: -9px;
}

//first column in thread table
.thread-user {
  width: 4%;
  position: relative;
  left: -6px;
}


.navbar-default {
  background-color: white;
  border-color: yellowgreen;
}

element.style {
  position: relative;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid ghostwhite;
}

.community-header {
  margin: 0;
  margin-bottom: 19px;
  position: relative;
  left: 0;
  font-size: 15pt;
  color: silver;
  top: -3px;
}

.panel-info > .panel-heading {
  border: none;
  position: relative;
  top: -16px;
  color: white;
  background-color: cadetblue;
  padding-bottom: 17px;
  border-radius: 3px 3px 0 0;
}

.panel-info {
  border-color: white !important;
}

.navbar-default {
  background-color: white;
  border-color: ghostwhite;
  box-shadow: 0 4px 9px -8px gray;
}

ul.threads {
  margin-top: -21px !important;
}

.panel-title {
  font-size: 1.1em;
  position: relative;
  top: 5px;
}

.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  padding-bottom: 17px;
  border-radius: 2px;
}

.panel-success {
  position: relative;
  top: -16px;
  border-color: ghostwhite;
}

.forum-menu-container {
  background: ghostwhite;
  position: relative;
  top: -31px;
  left: -15px;
  width: 102.7%;
  padding-bottom: 15px;
  border-radius: 0px 0px 3px 3px;
}

// The forum's menu
.forum-menu {
  position: relative;
  right: -606px;
  top: 5.5px;
  margin-bottom: -3px;

  > button {
    background: white;
    border-radius: 3px;
  }

  > button:first-child {
    background-color: yellowgreen;
    border-radius: 3px;

    > a {
      color: white;
    }

    > a:first-child {
      color: white;
      font-weight: bold;
    }

  }

  > a:hover {
    color: gray;
  }

  > button > a {
    text-decoration: none;
    color: silver;
  }

  > button > a:hover {
    color: gray;
  }
}

// the table of threads
.thread-table {

  > tbody > tr {
    border-bottom: 1px solid #e9e9e9;
  }

  > tbody > tr:first-child {
    color: #919191;
    border-bottom: 4px solid ghostwhite;
  }

  > tbody > tr > td {
    padding: 7px;
  }

  > tbody > tr > td > center > a {
    text-decoration: none;
  }

  > tbody > tr > th {
    font-weight: normal;

    padding-bottom: 12px;
  }

  > tbody > tr:last-child {
    border-bottom: 1px solid white;
  }
}

// forum menu active button
.forum-btn-active {
  > a {
    color: dimgray !important;
  }
}

//Thread replies
.thread-replies {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  position: relative;
  top: 1px;
}

//Thread viewed times
.thread-viewed-times {
  position: relative;
  color: gray;
  top: 5px;
}

.nav-tabs {
  border-bottom: 0px !important;
}

//forum number of conversations
.forum-nb-conversation {
  color: silver;
  font-size: 12pt;
}


