{#- base template for communities (as container for social apps) #}
{% extends "base.html" %}

{% block header %}
  <h1 class="community-header">
    <img src="{{ community_image_url(g.community, s=55) }}"/>
    {{ g.community.name }}
  </h1>
  {%- set tabs = actions.for_category('communities:tabs') %}

  <ul class="nav nav-tabs community-tabs" id="community-tabs">
    {%- for tab in tabs %}
      <li {% if tab.is_current() %}class="active"{% endif %}>{{ tab.render() }}</li>
    {%- endfor %}
  </ul>
{% endblock %}


{% block main %}
  <div class="row">
    <div class="col-md-9">
      {%- block content %}
      {%- endblock %}
    </div>
    <div class="col-md-3" id="sidebar">
      {%- block sidebar %}
      {%- endblock %}
    </div>
  </div>
  {%- block modals %}{% endblock %}

{% endblock %}
