{% extends "community/_base.html" %}

{% from "macros/box.html" import m_box_content, m_box_menu %}
{% import "community/members_macros.html" as macros with context %}
{%- from "community/macros.html" import wizard_steps -%}
{% from "macros/user.html" import m_user_link, m_user_photo %}

{% block membersContent %}
  {% call m_box_content(_("Members Wizard")) %}
    {%- set is_manager = g.community.has_permission(current_user, 'manage') %}

    {%- set steps =["Add Members","Existing and new members","Create Accounts"] %}
    {{ wizard_steps(steps,2) }}
    <br>

  <div class="row">
                <form class="form-horizontal" id="wizard-1">
                    <div id="bootstrap-wizard-1" class="col-sm-12">
                        <div class="form-bootstrapWizard col-sm-offset-2">

                            <div class="clearfix"></div>
                        </div>

                        <!-- STEP 2 -->
                        <div style="margin-right: 8%;margin-left: 8%;">
                        <div class="tab-content col-sm-12">   
                            <div class="tab-pane active" id="tab1">
                                <br>
                                <h3 class="titre ">Existing and new members</h3>
                                <h4 class="sous_titre "> Check if the user is already a member of the community and if he currently has an account on the platform
                                </h4>
                                <br>
                                <!-- DEJA MEMBRE DE LA COMMUNAUTE -->
                                 {% if existing_members %}
                                <div style="border: 1px solid silver;padding-top: 19px;padding-left: 20px;width: 96.7%;">
                                    <label class="">Already a member of the community</label>
                                    <h6 class=" sous_titre_step2">
                                        The users below are already members of the community :
                                    </h6>
                                <br>

                                <div style="position: relative;top: -13px;">
                               
                                   {% for member in existing_members%}
                                       <p>{% call m_user_link(member, css="media-object") %}
                                          {{ m_user_photo(member, size="32") }}{{member}} ({{member.email}})
                                          {%- endcall %}
                                      </p>
                                   {% endfor %}
                      
                                
                                </div>
                                </div>
                                {% endif %}
                                <br>
                                <!-- NOUVEAUX MEMBRES -->

                                 <div class="form-group bloc col-lg-12 col-sm-offset-1">

                                    <label class="">New member(s) of the community <span class="existing-account" style="color: silver;font-size: 11pt;font-weight: normal;"> ( <span id="account-nb">{{existing_users|length}}</span> from the insered emails )</span></label>
                                    <h6 class=" sous_titre_step2">
                                        The users below already have an account on the platform, and is going to be added to the community
                                    </h6>
                                    
                                    
                                         <table class="table table-condensed table-striped col-lg-8" id="{{ table_id }}">
                                         <thead>
                                              {{ macros.wizard_thead() }}
                                         </thead>

                                          <tbody>
                                         {% for user in existing_users %}
                                           <tr>
                                         {{ macros.wizard_member_row(user) }}
                                           </tr>
                                         {% endfor %}
                                         </tbody>
                                        </table>
                                  
                                 <a onclick="wizard_next()" class="users-wizard-next btn default" style="float: right;color: white;background: yellowgreen;margin-bottom: 13px;" >
                                  <i class="fa fa-check-circle"></i> Next</a>
                                </div>
                                
                               
                            </div>
                            



                        </div>
                        </div>
                    </div>
                </form>

            </div>



   {% set table_id = uuid() %}
   

    <form method="POST" class="form-inline wizard-form" action=" {{url_for('.new_accounts_wizard',community_id=g.community.slug) }}">
{{ csrf_token }}
<input id="wizard-emails" type="hidden" name="wizard-emails" value="{{wizard_emails}}">
</form>


    <script type="application/json">
        {{ macros.table_config() }}
    </script>

    
    <script>
   if ($(".table-condensed tr").length == 1){
   	      $(".table-condensed").closest('tr').remove();
          $(".table-condensed").append("<tr><td id='wizard-msg' colspan='3' style='display:none;padding: 10px;color: gray;'> <i class='fa fa-check-circle' aria-hidden='true'></i> There is no existing accounts</td></tr>");
          $("#wizard-msg").fadeIn();
   } 

   function wizard_next(){
   	 $(".wizard-form").submit();
   }


    </script>
   
    <div class="clearfix"></div>
  {% endcall %}
{% endblock %}

{% block sidebar %}
  {%- set actions = actions.for_category('members:menu') %}
  {%- if actions %}
    {% call m_box_menu() %}
      <ul class="nav nav-list">
        {%- for action in actions %}
          <li>{{ action.render() }}</li>
        {%- endfor %}
      </ul>
    {% endcall %}
  {%- endif %}
{% endblock %}
  

