-r ../requirements.txt

# Additional packages for development.

# Our favorite test runner with some plugins and CI builder
pytest
pytest-xdist

# Backport of Python 3 mocking library
mock>=1.0.1

# Coverage
coverage>=3.7.1,<4.0a1
pytest-cov

# Python clone of Foreman, useful to test Heroku config locally
honcho

# Higher level API to Selenium than WebDriver,
# see http://splinter.cobrateam.info/en/latest/index.html
# Fails on travis + phantomjs issues...
#splinter>=0.7.0
#pytest-splinter

# Documentation generator
Sphinx

# Standard theme for readthedocs.com
sphinx-rtd-theme

# Used to check links in the application
Flask-LinkTester

# Static code analysis
flake8
pylama
pytest-flakes
pytest-pep8
