# Abilian Core
abilian-core

validate_email

# Used for language detection in the document management app.
# TODO: replace by langid ?
# guess-language-spirit needs 3to2 if no pre-built wheel is present in cache or
# local devpi
3to2
guess-language-spirit>=0.5.1,<0.6

# Charset detection
chardet

# need by folder: export to xls
xlwt

openpyxl>=2.3.0
