{% extends "calendar/_base.html" %}

{% from "macros/box.html" import m_box_menu, m_box_content %}

{% block content %}
  {% call m_box_content(_("Upcoming events")) %}
    {% if upcoming_events %}
      <ul>
        {% for event in upcoming_events %}
          <li>{{ event.start | dateformat}}: <a href="{{ url_for(event) }}">{{ event.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{{ _("No event has been posted to this calendar yet.") }}</p>
    {% endif %}
  {% endcall %}
{% endblock %}
